# More Practice With SQL Queries - Lab

## Introduction

In this lesson, we'll run through some practice questions to refresh our knowledge of SQL Queries!

## Objectives

You will be able to:

- Practice your SQL knowledge

## Getting Started

As in previous labs, we'll make use of the `sqlite3` library as well as `pandas`. By combining them, we'll be able to write our queries as python strings, and make sure that the results are always returned as a pandas DataFrame. 

We'll start by loading both libraries and connecting to the database we'll be using for this lab, `data.sqlite`. You may remember this database from a previous lab. As a refresher, here's the ERD diagram for this database: 

<img src='images/Database-Schema.png'>

In the cell below:

* Import the necessary libraries `pandas` and `sqlite3`
* Establish a connection to the database `data.sqlite`
* Get the `cursor` from the connection and store it in the variable `c`.

In [4]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('data.sqlite')
c = conn.cursor()

## Basic Queries

Now, let's review basic SQL queries. In the cell below:

* Write a query that gets the first name, last name, phone number, address, and credit limit for all customers in California with a credit limit greater than 25000.00.

In [8]:
c.execute("""select state,city
                    from customers
                    ;""")
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df

        state              city
0                        Nantes
1          NV         Las Vegas
2    Victoria         Melbourne
3                        Nantes
4                       Stavern
5          CA        San Rafael
6                      Warszawa
7                     Frankfurt
8          CA     San Francisco
9          NY               NYC
10                       Madrid
11                        Luleå
12                    Kobenhavn
13                         Lyon
14                    Singapore
15         NY               NYC
16         PA         Allentown
17         CA        Burlingame
18                    Singapore
19                       Bergen
20         CT         New Haven
21                       Lisboa
22                        Lille
23                        Paris
24         MA         Cambridge
25         CT       Bridgewater
26      Osaka           Kita-ku
27         NY               NYC
28                     Helsinki
29                   Manchester
..        ...               ...
92                Reggio Emilia
93      Tokyo         Minato-ku
94                        Paris
95                    Stuttgart
96                   Wellington
97                       Munich
98         NY               NYC
99                      Leipzig
100        CT          Glendale
101                      Bräcke
102        CA          San Jose
103                        Graz
104        CT         New Haven
105        NY               NYC
106                      Madrid
107                      Aachen
108        MA       New Bedford
109                      Madrid
110  Victoria      Glen Waverly
111                       Milan
112        CA           Burbank
113                    Mannheim
114            Saint Petersburg
115                     Herzlia
116                     Sevilla
117        PA      Philadelphia
118        CA          Brisbane
119                      London
120        MA            Boston
121                  Auckland

[122 rows x 2 columns]

In [9]:
# For the first query, the boilerplate for getting 
#the query into a dataframe has been provided for you
c.execute("""select contactFirstName, contactLastName, phone, addressLine1,
                    addressLine2, creditLimit
                    from customers
                    where (creditLimit >=25000) and (state = 'CA') ;""")
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df

,contactFirstName,contactLastName,phone,addressLine1,addressLine2,creditLimit
0,Susan,Nelson,4155551450,5677 Strong St.,,210500.00
1,Julie,Murphy,6505555787,5557 North Pendale Street,,64600.00
2,Juri,Hashimoto,6505556809,9408 Furth Circle,,84600.00
3,Julie,Young,6265557265,78934 Hillside Dr.,,90700.00
4,Mary,Young,3105552373,4097 Douglas Av.,,11000.00
5,Valarie,Thompson,7605558146,361 Furth Circle,,105000.00
6,Julie,Brown,6505551386,7734 Strong St.,,105000.00
7,Brian,Chandler,2155554369,6047 Douglas Av.,,57700.00
8,Sue,Frick,4085553659,3086 Ingle Ln.,,77600.00
9,Steve,Thompson,3105553722,3675 Furth Circle,,55400.00
10,Sue,Taylor,4155554312,2793 Furth Circle,,60300.00

#### Expected Output

<img src='images/expected-output-1.png'>

## Aggregate Functions and GROUP BY

Next, write a query that get sthe average credit limit per state.

In [11]:
c.execute("""select state, AVG(creditLimit) as AVG_creditLimit
                    from customers
                    group by 1;""")
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df

            state  AVG_creditLimit
0                     61839.726027
1              BC     89950.000000
2              CA     83854.545455
3              CT     57350.000000
4        Co. Cork         0.000000
5   Isle of Wight     93900.000000
6              MA     70755.555556
7              NH    114200.000000
8              NJ     43000.000000
9             NSW    100550.000000
10             NV     71800.000000
11             NY     89966.666667
12          Osaka     81200.000000
13             PA     84766.666667
14       Pretoria         0.000000
15     Queensland     51600.000000
16         Québec     48700.000000
17          Tokyo     94400.000000
18       Victoria     88800.000000

#### Expected Output

<img src='images/expected-output-2.png'>

## JOINs

Now, write a query that uses JOIN statements to get the customer name, customer number, order number, status, and quantity ordered. Print only the head of this DataFrame.

In [12]:
c.execute("""select customerName, customerNumber, orderNumber, status, quantityOrdered
                    from customers
                    join orders
                    using (customerNumber)
                    join orderDetails
                    using (orderNumber)
                    ;""")
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df

            customerName customerNumber orderNumber     status quantityOrdered
0      Atelier graphique            103       10123    Shipped              26
1      Atelier graphique            103       10123    Shipped              34
2      Atelier graphique            103       10123    Shipped              46
3      Atelier graphique            103       10123    Shipped              50
4      Atelier graphique            103       10298    Shipped              32
5      Atelier graphique            103       10298    Shipped              39
6      Atelier graphique            103       10345    Shipped              43
7     Signal Gift Stores            112       10124    Shipped              21
8     Signal Gift Stores            112       10124    Shipped              22
9     Signal Gift Stores            112       10124    Shipped              22
10    Signal Gift Stores            112       10124    Shipped              23
11    Signal Gift Stores            112       10124    Shipped              25
12    Signal Gift Stores            112       10124    Shipped              32
13    Signal Gift Stores            112       10124    Shipped              36
14    Signal Gift Stores            112       10124    Shipped              42
15    Signal Gift Stores            112       10124    Shipped              42
16    Signal Gift Stores            112       10124    Shipped              43
17    Signal Gift Stores            112       10124    Shipped              45
18    Signal Gift Stores            112       10124    Shipped              46
19    Signal Gift Stores            112       10124    Shipped              49
20    Signal Gift Stores            112       10278    Shipped              23
21    Signal Gift Stores            112       10278    Shipped              25
22    Signal Gift Stores            112       10278    Shipped              29
23    Signal Gift Stores            112       10278    Shipped              29
24    Signal Gift Stores            112       10278    Shipped              31
25    Signal Gift Stores            112       10278    Shipped              31
26    Signal Gift Stores            112       10278    Shipped              34
27    Signal Gift Stores            112       10278    Shipped              35
28    Signal Gift Stores            112       10278    Shipped              39
29    Signal Gift Stores            112       10278    Shipped              42
...                  ...            ...         ...        ...             ...
2966   Kelly's Gift Shop            496       10179  Cancelled              34
2967   Kelly's Gift Shop            496       10179  Cancelled              39
2968   Kelly's Gift Shop            496       10179  Cancelled              45
2969   Kelly's Gift Shop            496       10179  Cancelled              47
2970   Kelly's Gift Shop            496       10360    Shipped              22
2971   Kelly's Gift Shop            496       10360    Shipped              22
2972   Kelly's Gift Shop            496       10360    Shipped              26
2973   Kelly's Gift Shop            496       10360    Shipped              29
2974   Kelly's Gift Shop            496       10360    Shipped              29
2975   Kelly's Gift Shop            496       10360    Shipped              30
2976   Kelly's Gift Shop            496       10360    Shipped              31
2977   Kelly's Gift Shop            496       10360    Shipped              31
2978   Kelly's Gift Shop            496       10360    Shipped              31
2979   Kelly's Gift Shop            496       10360    Shipped              32
2980   Kelly's Gift Shop            496       10360    Shipped              35
2981   Kelly's Gift Shop            496       10360    Shipped              36
2982   Kelly's Gift Shop            496       10360    Shipped              40
2983   Kelly's Gift Shop            496       10360    Shipped              40
2984   Kelly's Gift Shop            496       10360    Shipped              41
2985   Kelly's Gift Shop            496       10360    Shipped              46
2986   Kelly's Gift Shop            496       10360    Shipped              49
2987   Kelly's Gift Shop            496       10360    Shipped              50
2988   Kelly's Gift Shop            496       10399    Shipped              22
2989   Kelly's Gift Shop            496       10399    Shipped              29
2990   Kelly's Gift Shop            496       10399    Shipped              30
2991   Kelly's Gift Shop            496       10399    Shipped              32
2992   Kelly's Gift Shop            496       10399    Shipped              40
2993   Kelly's Gift Shop            496       10399    Shipped              51
2994   Kelly's Gift Shop            496       10399    Shipped              57
2995   Kelly's Gift Shop            496       10399    Shipped              58

[2996 rows x 5 columns]

#### Expected Output

<img src='images/expected-output-3.png'>

## HAVING and ORDER BY

Now, repeat the last query, but only get orders from customers that have a quantityOrdered value greater than 10. Sort the rows in ascending order by the quantity ordered. 

**_Hint_**: For this one, you'll need to make use of HAVING, GROUP BY, and ORDER BY--make sure you get the order of them correct!

In [15]:
c.execute("""select customerName, customerNumber, orderNumber, status, SUM(quantityOrdered)
                    from customers
                    join orders
                    using (customerNumber)
                    join orderDetails
                    using (orderNumber)
                    group by 2
                    having SUM(quantityOrdered) >= 10
                    order by SUM(quantityOrdered) asc
                    ;""")
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df

,customerName,customerNumber,orderNumber,status,SUM(quantityOrdered)
0,Boards & Toys Co.,219,10376,Shipped,102
1,Atelier graphique,103,10345,Shipped,270
2,Frau da Collezione,473,10218,Shipped,272
3,Royale Belge,381,10366,Shipped,278
4,Auto-Moto Classics Inc.,198,10352,Shipped,287
5,Cambridge Collectables Co.,173,10249,Shipped,357
6,"Double Decker Gift Stores, Ltd",489,10213,Shipped,357
7,Microscale Inc.,456,10319,Shipped,381
8,"Bavarian Collectables Imports, Co.",415,10296,Shipped,401
9,CAF Imports,344,10231,Shipped,468
10,"Clover Collections, Co.",189,10297,Shipped,490
11,"Men 'R' US Retailers, Ltd.",347,10209,Shipped,500
12,West Coast Collectables Co.,475,10215,Shipped,511
13,Signal Collectibles Ltd.,487,10219,Shipped,514
14,Mini Auto Werke,452,10392,Shipped,532
15,"Australian Gift Network, Co",333,10374,Shipped,545
16,Online Mini Collectables,204,10294,Shipped,572
17,"Iberia Gift Imports, Corp.",484,10303,Shipped,589
18,"King Kong Collectables, Co.",211,10200,Shipped,596
19,Super Scale Inc.,455,10245,Shipped,636
20,Auto Associés & Cie.,256,10304,Shipped,637
21,"Volvo Model Replicas, Co",144,10334,On Hold,647
22,Gift Ideas Corp.,447,10353,Shipped,666
23,"Classic Gift Ideas, Inc",339,10307,Shipped,668
24,Lyon Souveniers,250,10395,Shipped,684
25,Alpha Cognac,242,10397,Shipped,687
26,Mini Wheels Co.,129,10333,Shipped,692
27,Osaka Souveniers Co.,177,10240,Shipped,692
28,Diecast Collectables,495,10243,Shipped,695
29,Daedalus Designs Imports,171,10224,Shipped,699
...,...,...,...,...,...
68,Baane Mini Imports,121,10325,Shipped,1082
69,"Oulu Toy Supplies, Inc.",311,10373,Shipped,1110
70,Diecast Classics Inc.,157,10422,In Process,1111
71,Mini Creations Ltd.,320,10365,Shipped,1140
72,"Tokyo Collectables, Ltd",398,10408,Shipped,1150
73,"Corrida Auto Replicas, Ltd",458,10348,Shipped,1163
74,Technics Stores Inc.,161,10362,Shipped,1179
75,Handji Gifts& Co,166,10409,Shipped,1236
76,Online Diecast Creations Co.,363,10322,Shipped,1248
77,L'ordine Souveniers,386,10416,Shipped,1280
78,Danish Wholesale Imports,145,10406,Disputed,1315
79,Scandinavian Gift Ideas,448,10389,Shipped,1359
80,"Saveley & Henriot, Co.",146,10227,Shipped,1428
81,Reims Collectables,353,10398,Shipped,1433
82,Salzburg Collectables,382,10419,Shipped,1442
83,Corporate Gift Ideas Co.,321,10384,Shipped,1447
84,"Anna's Decorations, Ltd",276,10391,Shipped,1469
85,"Dragon Souveniers, Ltd.",148,10387,Shipped,1524
86,Souveniers And Things Co.,282,10420,In Process,1601
87,Land of Toys Inc.,131,10329,Shipped,1631
88,Kelly's Gift Shop,496,10399,Shipped,1647
89,Rovelli Gifts,278,10328,Shipped,1650
90,The Sharp Gifts Warehouse,450,10407,On Hold,1656
91,"Down Under Souveniers, Inc",323,10404,Shipped,1691
92,Muscle Machine Inc,151,10349,Shipped,1775
93,"AV Stores, Co.",187,10332,Shipped,1778
94,La Rochelle Gifts,119,10425,In Process,1832
95,"Australian Collectors, Co.",114,10347,Shipped,1926
96,Mini Gifts Distributors Ltd.,124,10421,In Process,6366
97,Euro+ Shopping Channel,141,10424,In Process,9327

#### Expected Output

<img src='images/expected-output-4.png'>

## Subqueries

Finally, get the first name, last name, employee number, and office code for employees from an office with less than 5 employees.

#### Expected Output

<img src='images/expected-output-5.png'>

# Summary

In this lesson, we reviewed all the major concepts and keywords associated with SQL queries!